.azeret-mono-normal {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.banner {
    text-align: center;
    color: rgb(13, 19, 33);
}

header {
    background-image: url("../images/assets/Hero-bg.png");
}

.banner-description {
    margin-top: 10px;
}

.banner-btn {
    margin-top: 10px;
    width: 244px;
    height: 65px;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    cursor: pointer;
}